@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_Footer.cshtml";
}
<div class="admins">
    <div class="cart">
        <button onclick="location.href='/Home/Index' " style="background-color: aquamarine; margin-bottom: 30px;" ;><span class="glyphicon glyphicon-circle-arrow-left"></span>Quay về trang chủ</button>
    </div>
    <!-- Tam Huynh-->
    <div class="admin" id="tamhuynh">
        <div class="avatar" style="background-color:blanchedalmond;">
            @*<img src="~/images/ngtinh.jpg" height="100" width="100" class="img-circle" />*@
        </div>
        <hr />
        <div class="contact-info">
            <p><label>Name :</label>Nguyễn Thị Thanh Ngân</p>
            <p><label>Birthday :</label>21/12/2002</p>
            <p><label>Contact Phone :</label> 0362211202</p>
            <p><label>Contact Email :</label> Tkahnqan2k2@gmail.com</p>
        </div>
    </div>
    <!-- Tan Ho-->
    <div class="admin" id="ducphung">
        <div class="avatar" style="background-color:gainsboro;">
            @*<img src="~/images/TUPHAM.jpg" height="100" width="100" class="img-circle" />*@
        </div>
        <hr />
        <div class="contact-info">
            <p><label>Name :</label>Mai Thị Quỳnh Như</p>
            <p><label>Birthday :</label>26/09/2002</p>
            <p><label>Contact Phone :</label> 01111111111</p>
            <p><label>Contact Email :</label> mainhu@gmail.com</p>
        </div>
    </div>

</div>
<style>
    .contact-info {
        padding: 10px 20px;
        font-family: Bahnschrift;
    }

    .avatar {
        display: flex;
        justify-content: center;
    }

    .admin {
        box-shadow: none;
        border: 0.1px solid grey;
        background-color: white;
        margin: 25px 100px;
        padding: 15px 15px;
        width: 350px;
        height: 400px;
    }

    .admins {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    body {
        background-color:beige;
    }

    .admin:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #tamhuynh {
        border-bottom: 5px solid red;
    }

    #ducphung {
        border-bottom: 5px solid blue;
    }
</style>